.become-a-partner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 508px;
	background-image: url(../img/become-partner-back.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&__title {
		padding-bottom: 28px;
		position: relative;
		font: 3rem/3.5625rem @ubuntu;
		text-transform: uppercase;
		letter-spacing: 5px;
		color: #fff;

		span {
			color: #89ad70;

			&.percent {
				font-size: 4.875rem;
				line-height: 5.3125rem;

				@media (max-width: 459px) {
					font-size: 2.7rem;
					line-height: normal;
				}
			}
		}

		&::before {
			position: absolute;
			z-index: 1;
			left: 7px;
			bottom: 0;
			content: '';
			display: block;
			width: 219px;
			height: 1px;
			background-color: #9fc187;
		}
		
		@media (max-width: 459px) {
			font-size: 2.2rem;
		}
	}

	&__order {
		margin-top: 60px;
		.order(#d35414);

		@media (max-width: 459px) {
			margin-top: 20px;
			padding: 14px 60px;
		}
	}
}