@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,300&subset=latin,cyrillic-ext);
@font-face {
  font-family: 'Ubuntu Condensed';
  src: url('../fonts/ubuntu-condensed.eot');
  src: local('?'),
  url('../fonts/ubuntu-condensed.woff') format('woff'),
  url('../fonts/ubuntu-condensed.ttf') format('truetype'),
  url('../fonts/ubuntu-condensed.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@condens_reg : 'Ubuntu Condensed'; /* ,sans-serif */
@comfort : 'Comfortaa'; /* ,cursive */
@ubuntu : 'Ubuntu'; /* ,sans-serif */