<div class="menu-portfolio">
    <div class="menu-portfolio__all-job">
        <a href="javascript:void(0)">
            <div class="menu-portfolio__all-job__wrapper">
                <div class="menu-portfolio__all-job__wrapper__circle"></div>
                <div class="menu-portfolio__all-job__wrapper__circle"></div>
                <div class="menu-portfolio__all-job__wrapper__circle"></div>
                <div class="menu-portfolio__all-job__wrapper__circle"></div>
                <div class="menu-portfolio__all-job__wrapper__circle"></div>
                <div class="menu-portfolio__all-job__wrapper__circle"></div>
                <div class="menu-portfolio__all-job__wrapper__circle"></div>
                <div class="menu-portfolio__all-job__wrapper__circle"></div>
                <div class="menu-portfolio__all-job__wrapper__circle"></div>
            </div>
        </a>
    </div>
    <div class="menu-portfolio__wrap-links">
        <div class="menu-portfolio__wrap-links__prev-job links">
            <a href="javascript:void(0)">
                <p>Название предыдущей работы</p>
                <svg class="arrow-prev arrow">
                    <use xlink:href="#arrow-menu" />
                </svg>
            </a>
        </div>
        <div class="menu-portfolio__wrap-links__next-job links">
            <a href="javascript:void(0)">
                <svg class="arrow-next arrow">
                    <use xlink:href="#arrow-menu" />
                </svg>
                <p>Название следующей работы</p>
            </a>
        </div>
    </div>
    <div class="menu-portfolio__up-page js-up-page">
        <svg class="arrow-up">
            <use xlink:href="#arrow-menu" />
        </svg>
    </div>
</div>