<div class="menu-landing">
    <ul>
        <li><a href="javascript:void(0)">Спецпредложения</a></li>
        <li><a href="javascript:void(0)">Основные услуги</a></li>
        <li><a href="javascript:void(0)">О нас</a></li>
        <li><a class="active" href="javascript:void(0)">Новые работы</a></li>
        <li><a href="javascript:void(0)">Скачать бриф</a></li>
        <li><a href="javascript:void(0)">Заказать сайт</a></li>
    </ul>
    <div class="menu-landing__up-page js-up-page">
        <svg class="arrow-up">
            <use xlink:href="#arrow-menu" />
        </svg>
    </div>
</div>