//= blocks/head.html
<body>
    <div class="page-preloader"><span class="spinner"></span></div>

    //= blocks/svg.html

    <header>
        <div class="menu js-menu">
            <!-- Левая часть меню -->
            <div class="menu__left">
                <div class="menu__left__logo">
                    <img src="../img/logo.png" alt=""/>
                </div>
                <div class="menu__left__contact-info">
                    <p><span class="number">+7 <span>(495)</span> 215-51-36</span> <span class="mail">msk@vedita.ru</span></p>
                    <p><span class="number">+7 <span>(4752)</span> 48-54-15</span> <span class="mail">info@vedita.ru</span></p>

                    <div class="menu__left__call call-animate">
                        <div class="header-top__call-request__top-animate top-animate"></div>
                        <div class="header-top__call-request__right-animate right-animate"></div>
                        <div class="header-top__call-request__bottom-animate bottom-animate"></div>
                        <a href="javascript:void(0)">Заказать звонок</a>
                    </div>
                </div>
            </div>

            <!-- Правая часть меню -->
            <div class="menu__right">
                <ul class="js-hide-menu">
                    <li>
                        <a class="active" href="javascript:void(0)">О нас</a>
                        <svg class="arrow-menu js-arrow-menu">
                            <use xlink:href="#arrow-menu" />
                        </svg>
                        <div class="js-close"></div>
                        <ul class="submenu">
                            <li><a href="javascript:void(0)">Отзывы</a></li>
                            <li><a href="javascript:void(0)">Вакансии</a></li>
                            <li><a href="javascript:void(0)">Аналитика</a></li>
                            <li><a href="javascript:void(0)">Публикации</a></li>
                            <li><a href="javascript:void(0)">Новости</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Услуги</a>
                        <svg class="arrow-menu js-arrow-menu">
                            <use xlink:href="#arrow-menu" />
                        </svg>
                        <div class="js-close"></div>
                        <ul class="submenu">
                            <li><a href="javascript:void(0)">Создание сайтов</a></li>
                            <li><a href="javascript:void(0)">Продвижение сайтов</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">Портфолио</a></li>
                    <li>
                        <a href="javascript:void(0)">1С-Битрикс</a>
                        <svg class="arrow-menu js-arrow-menu">
                            <use xlink:href="#arrow-menu" />
                        </svg>
                        <div class="js-close"></div>
                        <ul class="submenu">
                            <li><a href="javascript:void(0)">Партнёр 1С-Битрикс</a></li>
                            <li><a href="javascript:void(0)">Семинары 1С-Битрикс</a></li>
                        </ul>
                    </li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
        </div>
        <!-- Шапка сайта верх-->
        <div class="header-top">
            <div class="header-top__logo">
                <a href="javascript:void(0)"><img src="../img/logo.png" alt=""/></a>
            </div>
            <div class="header-top__burger-menu js-transform">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="header-top__call-request call-animate">
                <div class="header-top__call-request__top-animate top-animate"></div>
                <div class="header-top__call-request__right-animate right-animate"></div>
                <div class="header-top__call-request__bottom-animate bottom-animate"></div>
                <a href="javascript:void(0)">Заказать звонок</a>
            </div>

            <div class="header-top__phone">
                <p>+7 <span>(495)</span> 215-51-36</p>
            </div>
        </div>
        <!-- Шапка сайта слайдер -->
        <div class="header-bottom">
            <div class="header-bottom__slider swiper-container js-slider">
                <div class="header-bottom__slider__swiper-wrapper swiper-wrapper">
                    <div class="header-bottom__slider__swiper-wrapper__slide swiper-slide" style="background-image: url(../img/slide1.jpg)"></div>
                    <div class="header-bottom__slider__swiper-wrapper__slide swiper-slide" style="background-image: url(../img/slide2.jpg)"></div>
                </div>
                <div class="header-bottom__slider__pagination swiper-pagination"></div>
            </div>
            <div class="rectangle-slider js-rectangle-click">
                <svg class="arrow">
                    <use xlink:href="#arrow-menu" />
                </svg>
            </div>
        </div>
    </header>
    <div class="content">
        <section class="content__index-services">
            <p class="content-h1">Наши основные услуги</p>
            <div class="content__index-services__wrapper">
                <div class="content__index-services__wrapper__list">
                    <div class="content__index-services__wrapper__list__element">
                        <div class="content__index-services__wrapper__list__element__circle">
                            <img src="../img/ico-website-development.png" alt=""/>  
                        </div>
                        <p>Создание сайтов</p>
                    </div>
                    <div class="content__index-services__wrapper__list__element">
                        <div class="content__index-services__wrapper__list__element__circle">
                            <img src="../img/ico-support-sites.png" alt=""/>    
                        </div>
                        <p>Поддержка сайтов</p>
                    </div>
                    <div class="content__index-services__wrapper__list__element">
                        <div class="content__index-services__wrapper__list__element__circle">
                            <img src="../img/ico-seo.png" alt=""/>
                        </div>
                        <p>Поисковое продвижение</p>
                    </div>
                    <div class="content__index-services__wrapper__list__element">
                        <div class="content__index-services__wrapper__list__element__circle">
                            <img src="../img/ico-yandex-direct.png" alt=""/>
                        </div>
                        <p>Контекстная реклама</p>
                    </div>
                    <div class="content__index-services__wrapper__list__element">
                        <div class="content__index-services__wrapper__list__element__circle">
                            <img src="../img/ico-smm.png" alt=""/>
                        </div>
                        <p>SMM</p>
                    </div>
                </div>
                <div class="content__index-services__wrapper__rectangle rectangle-services">
                    <a href="javascript:void(0)">
                        <p>Все услуги</p>
                        <svg class="arrow">
                            <use xlink:href="#arrow-menu" />
                        </svg>
                    </a>
                </div>
            </div>
        </section>
        <section class="content__index-about-company">
            <p class="content-h2">Мы работаем на рынке Интернет-технологий уже 10 лет!</p>
            <div class="content__index-about-company__text">
                <p><span>«VediTa» - это команда профессионалов</span> в  сфере интернет-технологий с 2006 года, за это время нами реализованы десятки успешных проектов и наработан значительный практический опыт.</p>
                <p>Мы используем современные и профессиональные инструменты для разработки и продвижения. Богатый опыт позволяет нам <span>решать задачи практически любой сложности</span> в области веб-дизайна и интернет маркетинга.</p>
                <p>Мы работаем как по четко определенному техническому заданию, так и над проектами, где задача сформулирована нечетко. В этом случае мы сами составляем, корректируем ТЗ на создание сайта или другие виды работ: продвижение сайта, редизайн сайта, поддержку и обновление сайта и т.д.</p>
                <p>Нас отличает добросовестное отношение к работе и <span>приемлемые цены на все виды услуг</span>, что подтверждают многочисленные положительные отзывы наших клиентов.</p>
            </div>
        </section>
        <section class="content__index-new-job">
            <p class="content-h1">Наши новые работы</p>

            <div class="content__index-new-job__wrapper-job">

            </div>
            <div class="content__index-new-job__rectangle rectangle-job">
                <a href="javascript:void(0)">
                    <p>Все работы</p>
                    <svg class="arrow">
                        <use xlink:href="#arrow-menu" />
                    </svg>
                </a>
            </div>
        </section>
    </div>

    <!-- //= blocks/menu-portfolio.html -->
    <!-- //= blocks/menu-landing.html -->

    //= blocks/scripts.html
</body>
</html>