mixin become-a-partner()
   //- Блок стань партнёром
   .become-a-partner
      .container
         .become-a-partner__title
            p  стань нашим
               span  партнером!
               |  получи
               span.percent 15%
               |  с каждого заказа
         a(href="javascript:void(0)").order-button.become-a-partner__order Оставить заявку