mixin how-we-are-working()
   .how-we-are-working
      h2   Как мы работаем?
      .container
         .how-we-are-working__points
            .how-we-are-working__point.one.even(data-number="one")
               p  1
                  span  Составление, подписание договора и технического задания
               .circle.left.how-we-are-working__circle
            .how-we-are-working__point.two.odd(data-number="two")
               p  2
                  span  Сбор информации и прототипирование
               .circle.right.how-we-are-working__circle
            .how-we-are-working__point.three.even(data-number="three")
               p  3
                  span  Дизайн главной страницы
               .circle.right.how-we-are-working__circle
            .how-we-are-working__point.four.odd(data-number="four")
                p  4
                  span  Дизайн второстепенных страниц и компонентов сайта
                .circle.right.how-we-are-working__circle
            .how-we-are-working__point.five.even(data-number="five")
                p  5
                  span  Вёрстка сайта
                .circle.right.how-we-are-working__circle
            .how-we-are-working__point.six.odd(data-number="six")
               p  6
                  span  Программирование и сборка
               .circle.left.how-we-are-working__circle
            .how-we-are-working__point.seven.even(data-number="seven")
               p  7
                  span  Техническая оптимизация
               .circle.right.how-we-are-working__circle
            .how-we-are-working__point.four.eight.odd(data-number="eight")
                p  8
                    span  Тестирование
                .circle.left.how-we-are-working__circle
            .how-we-are-working__point.five.nine.even(data-number="nine")
                p  9
                    span  Настройка хостинга, перенос, тестирование
                .circle.right.how-we-are-working__circle
            .how-we-are-working__point.six.ten.two-sings.odd(data-number="ten")
                p  10
                    span  Передача прав на управление сайтом, гарантийное обслуживание
                .circle.left.how-we-are-working__circle
         .how-we-are-working__order
             a(href="Javascript:void(0)").order-button  Заполнить бриф