mixin index-content()
   //-    Контент
   section.about-company.index__about-company
      p.content-h2   Мы работаем на рынке Интернет-технологий уже 10 лет!
      .about-company__text.js-column-count
         p: span  «VediTa» - это команда профессионалов
            |  в  сфере интернет-технологий с 2006 года, за это время нами реализованы десятки успешных проектов и наработан значительный практический опыт.
         p  Мы используем современные и профессиональные инструменты для разработки и продвижения. Богатый опыт позволяет нам <span>решать задачи практически любой сложности</span> в области веб-дизайна и интернет маркетинга.
         p  Мы работаем как по четко определенному техническому заданию, так и над проектами, где задача сформулирована нечетко. В этом случае мы сами составляем, корректируем ТЗ на создание сайта или другие виды работ: продвижение сайта, редизайн сайта, поддержку и обновление сайта и т.д.
         p  Нас отличает добросовестное отношение к работе и <span>приемлемые цены на все виды услуг</span>, что подтверждают многочисленные положительные отзывы наших клиентов.