mixin reviews()
   //- Блок отзывы
   .reviews
      .container
         p.content-h1   Отзывы
         .reviews__list
            .reviews__item
               p  Позиционирование на рынке тормозит обществвенный медиавес неверно усиливает направленный маркетинг. Селекция бренда, не меняя концепции, изложенной выше, концентрирует рекламный бриф. Представляется логичным, что визуализация концепии ускоряет культурный побочный PR-эффект.
               .reviews__company-name  Название компании
               .reviews__city Город
            .reviews__item
               p  Медиапланирование, конечно, трансформирует имидж предприятия. Медиавес тормозит направленный маркетинг. Конкурентоспособность экономит продвигаемый анализ рыночных цен, не считаясь с затратами. До недавнего времени считалось, что побочный PR-эффект нейтрализует диктат потребителя.
               .reviews__company-name  Название компании
               .reviews__city Город
            .reviews__item
               p  Итак, ясно, что рекламное сообщество достижимо в разумные сроки. Узнавание бренда программирует потребительский метод изучения рынка, отвоевывая рыночный сегмент. Более того, узнавание бренда обуславливает социометрический ребрендинг. Анализ зарубежного опыта усиливает жизненный цикл продукции.
               .reviews__company-name  Название компании
               .reviews__city Город