mixin scripts()
   script(src="http://code.jquery.com/jquery-2.1.4.min.js")
   script(type='text/javascript')   window.jQuery || document.write('<script src="../js/jquery-2.1.4.min.js"><\/script>');
   script(src="../js/libs/swiper/swiper.min.js")
   script(src="../js/app.js")