mixin services-landing()
   //-   Список услуг
   section.services.landing__services
      p.content-h1   профессиональный подход - гарантия результата!
      .services__wrapper
         .services__list
            .services__element
               .services__figures
                  p  8
                     span  лет
               p  На рынке интернет-технологий
            .services__element
               .services__figures
                  p  220
                     span
               p  Реализованных проектов
            .services__element
               .services__figures
                  p  5%
                     span
               p  Конверсия наших лендингов
            .services__element
               .services__figures
                  p  14
                     span дней
               p  Средний срок сдачи проекта