mixin techlologies()
   .techlologies.landing__technologies.js-technologies
      p.content-h1   Наши технологии
      .container
         ul.techlologies__list
            li
               a(href="javascript:void(0)").js-li-bird
               .techlologies__li-descript
                  p.title  Мультилендинг
                  .techlologies__li-text.js-li-text
                     p  В рамках концепции Акоффа и Стэка, VIP-мероприятие традиционно
                        span.bold   стабилизирует ребрендинг.
                        |  Стратегия предоставления скидок и бонусов, не меняя концепции, изложенной выше, категорически допускает экспериментальный повторный контакт. Согласно последним исследованиям, изменение глобальной стратегии раскручивает бизнес-план. Выставка детерминирует коллективный бюджет на размещение.
            li
               a(href="javascript:void(0)").js-li-bird
               .techlologies__li-descript
                  p.title  Seo оптимизация
            li
               a(href="javascript:void(0)").js-li-bird
               .techlologies__li-descript
                  p.title  Тексты по Модели AIDCKA
            li
               a(href="javascript:void(0)").js-li-bird
               .techlologies__li-descript
                  p.title  Low-cost траффик
            li
               a(href="javascript:void(0)").js-li-bird
               .techlologies__li-descript
                  p.title  Адаптивность
            li
               a(href="javascript:void(0)").js-li-bird
               .techlologies__li-descript
                  p.title  А/В тестирование
            li
               a(href="javascript:void(0)").js-li-bird
               .techlologies__li-descript
                  p.title  Сквозная веб аналитика
            li
               a(href="javascript:void(0)").js-li-bird
               .techlologies__li-descript
                  p.title  2-х шаговая модель продаж
            li
               a(href="javascript:void(0)").js-li-bird
               .techlologies__li-descript
                  p.title  Интергация с CRM
            li
               a(href="javascript:void(0)").js-li-bird
               .techlologies__li-descript
                  p.title  Большая семантика и кластеризация MOAB, Метрика, поисковые подсказки


